@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body a{
    text-decoration: none;
    color: white;
}



nav{
    background-color: black;
    width: 1519.2px;
    height: 60px;
    display: flex;
    color: white;
   font-size: 14px;
}
nav div{
    width: 128.73px;
    height: 60px;
}
nav .amazon a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
nav .amazon a img{
    width: 90px;
    height: 40px;
    background-color: transparent;
    margin-top: 20px;
    margin-left: 10px;
}
.address1{
    position: relative;
    width:fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -10px 10px;
    padding-right: 10px;
}


.location{
    background-color: transparent;
    color: white;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
    
}


.searchInput{
    width: 900px;
    height: 40px;
    margin-top: 10px;
    padding-left: -100px;
    margin-left: 70px;
    border-radius: 6px;
}
.searchInput form select,option{
    background-color: lightgray;

    /* background-color: transparent;  */
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    border-radius: 6px;
 }
 
.searchInput form {
    display: flex;
    align-items: center;
    margin: -10px 10px;
    
}
.searchInput form .all{
    display: flex;
    gap: 5px;
    align-items: center;
   margin-right: -70px;
   color: rgba(0, 0, 0, 0.589);
   font-size: 14px;
   cursor: pointer;
}
.searchInput form .iconSearch{
    min-width: 40px;
    height: 40px;
    background-color: orange;
    padding: 10px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: -20px;
    cursor: pointer;
}
.searchInput input{
    width: 100%;
    height: 40px;
}
.searchInput form input:focus-visible{
    outline: 1px solid orange;
}
.flag img{
    width: 20px;
    height: 25px;
    background-color: transparent;
}
.flag .defaultFlag{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.flag span{
    font-size: 14px;
}
.flag i{
    margin-top: 5px;
}
.sign-in{
    position: relative;
    margin-top: 10px;
    width: 150px;
}
.sign-in span:first-child{
    font-size: 12px;
    font-weight: 400;
}

.orders{
    margin-top: 10px;
    margin-left: 20px;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart img{
    width: 50px;
    height: 40px;
}

main{
    width: 1519.2px;
    height: 39px;
    background-color: #232f3e;
    font-size: 14px;
    font-weight: 500;
}
main .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    padding-top: 10px;
    margin-left: 20px;
}
.left a{
    float: left;
    color: white;
    text-decoration: none;
    
}
.right a{
    float: right;
    color: white;
    text-decoration: none;
    margin: -15px 7px;
}
main .left .hoverNav:hover{
    border: 1px solid white;
    
    
}
.right a:hover{
    border: 1px solid #fff;
}
/* .AllSideNav{
    position: relative;
} */
.mySideNav{
    position: fixed;
    width: 0px;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 2px 4px 1px;
    overflow-y: scroll;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

.mySideNav a{
    color: black;
}
.mySideNav .menuSection:not(.profileSignIn){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    padding-left: 30px;
    padding-top: 60px;
}
.mySideNav .profileSignIn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    background-color: #010c0e;
    color: white;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    /* overflow: hidden; */
    /* left: -10%; */
    height: 60px;
    padding-top: 20px;
    /* visibility: hidden; */
}
.profileSignIn h2{
    margin-top: -30px;
    color: white;
    margin-left: 50px;
}
.profileIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.menuSection a i:not(.fa-angle-down){
    /* margin-left: 150px; */
    position: absolute;
    right: 15px;
    margin-top: 10px;
}
.menuSection a:hover{
    background-color: lightgray;
    width: 100%;
    
}
.closebtn{
    color: white;
    background-color: white;
    position: absolute;
    top: 20%;
    left: 90%;
    font-size: 40px;
    
}
.headingMenu{
    color: black;
    font-size: 22px;
    font-weight: bold;
    cursor:text;
    background-color: white;
}
a.headingMenu:hover{
    background-color: white;
}
.amazon a:hover {
    border: 1px solid white;
    
}
.address1:hover{
    border: 1px solid white;
    /* padding:-20px 0; */

}
.address:hover .locationUpdate{
    display: block;
}
.locationUpdate{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    height: auto;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 14px 0 rgba(15,17,17,.5);
    padding: 16px 24px;
    cursor: pointer;
    z-index: 2;
}
.locationUpdate h3{
    min-height: 56px;
    padding: 20px 24px;
    margin: -24px;
    margin-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.422);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.locationUpdate :not(h3){
    color: rgb(128, 128, 128);
}
.locationUpdate button:not(.button2){
    width: 100%;
    height: 29px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 166, 0, 0.679);
    color: black;
}
.locationUpdate hr{
    position: relative;
    margin: 25px 0;
}
.locationUpdate .markP{
    position: absolute;
    background-color: white;
    padding: 0 10px;
}
.locationUpdate .markP1{
    top: 150px;
    left: 100px;
}
.locationUpdate .markP2{
    bottom: 50px;
    left: 160px;
}
.locationUpdate input[type="text"]{
    width: 70%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.locationUpdate input[type="submit"]{
    background-color: transparent;
    outline: none;
    border: 1px solid lightgray;
    width: 25%;
    height: 30px;
    border-radius: 8px;
    padding: 0 20px;
}
.locationUpdate .button2{
    width: 100%;
}
.locationUpdate select{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}
.countryCategory{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 250px;
    min-height:420px;
    top: 50px;
    right: 200px;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 2px  7px 0px black;
    /* clear: both; */
    line-height: 15px;
}
.countryCategory div{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: flex-end;
    margin-left: 20px;
}
.countryCategory .countryEnglish{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    margin-bottom: -80px;
}
.countryCategory span{
    color: black;
}
.countryCategory .countryInput{
    margin-top: 350px;
}
.learnMore,.countryChange{
    color: blue;
    text-decoration: none;
    white-space: nowrap;
}
.textShop{
   margin-bottom : 15px;
}
.countryInput p {
    display: flex;
    align-items: center;
    color: black;
    font-size: 14px;
    row-gap: 5px;
    white-space: nowrap;
    margin-top: 20px;
}
.countryCategory label:hover{
    border-bottom: 1px solid orange;
    color: orange;

}


.countryCategory input[type="radio"]{
    content: "";
    border: 1px solid black;
    border-radius: 50%;
    width: 15px;
    height: 25px;
    /* transform: scale(2); */
}

.flag:hover .countryCategory{
    visibility: visible;
   
}
.flag:hover .tooltip::after{
    visibility: visible;
}


.tooltip::after{
    visibility: hidden;
    content: "";
    position: absolute;
    top: 31px;
    right: 25.7%;
    margin-left: 5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    box-shadow: none;
}
.hiddenSignIn{
    display: none;
    position: absolute;
    top: 88%;
    right: -40px;
    width: 600px;
    height: 400px;
    background-color: #fff;
    color: black;
    z-index: 1;
    font-size: 14px;
    box-shadow: 0 2px 7px 1px black;
}

.hiddenSignIn a{
    color: black;
}
.hiddenSignIn a:hover:not(.sign){
    color: orange;
    text-decoration: underline;
}
.hiddenSignIn button a:hover{
    color: black;
    border-bottom:1px solid rgb(255, 0, 0);
}

.hiddenSignIn .signTop{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-left: 240px;
    margin-top: 10px;
}
.signTop p a{
    color: blue;
}
.signTop button{
    width: 200px;
    min-height: 32px;
    text-align: center;
    /* margin-left: 450px; */
    background-color: rgb(255, 188, 4);
    border: none;
    border-radius: 8px;
    
}
.signTop button a{
    color: black;
}
.detailsSignIn table{
    width: 100%;
    margin-left: 30px;
}
.detailsSignIn table tr{
    border: 1px solid black;
    white-space: nowrap;
  
    
}
.detailsSignIn table th{
    text-align: left;
}
.detailsSignIn table .rightOne{
    padding-left:130px;
}

.rightOne::before{
    content: "";
    border: 1px solid rgba(0, 0, 0, 0.187);
    margin-right: 50px;
    
}
.tooltip2::after{
    display: none;
    position: absolute;
    content: '';
    top: 50%;
    left: 80%;
    border-width: 12px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
}
.sign-in:hover .hiddenSignIn{
    display: block;
}
.sign-in:hover .tooltip2::after{
    display: block;
}

.slideshow-container{
    position: relative;
    margin: 10px;
    transition: 0.3s ease;
   
    
}
.prev,.next{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -162px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* background-color: white; */
    height: 50px;
    line-height: 30px;
    cursor: pointer;
}
.prev,.next i{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.slideshow-container a i{
    color: black;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.next i{
    transform: rotate(180deg) translateY(100px);
}
.mySlides img{
    width: 100%;
    padding: 10px;
    height: auto;
    background-size: cover;
    -webkit-mask-image: linear-gradient(#000,rgba(0,0,0,0));
    mask-image: linear-gradient(#000,rgba(0,0,0,0));
    transition: 0.3s ease;
    z-index: -1;
}

.fade{
    animation: fade 1.5s;
}
@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}
@media only screen and (max-width:300px){
    .prev,.next{font-size: 11px;}
}
.hoverNavPrime{
    position: relative;
}
.primeOffer{
    display: none;
    position: absolute;
    width: 450px;
    height: auto;
    background-color: #fff;
    z-index: 1;
    top: 30px;
    box-shadow: 0 0 10px 1px black;
}
.primeOffer div.primeInnerOne{
    min-width: 200px;
    height: auto;
    background-color: rgb(0, 170, 255);
    padding: 20px;
    margin: 20px;
    line-height: 25px;
}
.primeInnerOne div{
    display: flex;
    justify-content: center;
    
}
.primeInnerOne h3{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.primeInnerOne button{
    /* margin:0 50%; */
    margin-left: 38%;
    padding: 12px;
    white-space: nowrap;
    border: none;
    background-image: linear-gradient(to bottom right, rgb(245, 183, 91), rgb(255, 145, 0));
}
.primeInnerOne .serviceDel{
    margin: 40px 30%;
}
.tooltopPrime{
    position: absolute;
    top: -3%;
    left: 8%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(248, 247, 247) transparent;
}
.hoverNavPrime:hover .primeOffer{
    display: block;
}


/*Section Blocks......*/

.section1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1480px;
    margin: 0 auto;
    margin-top: -300px;
    padding: 20px 0;
   gap: 20px;
   align-content: space-around;
   

    /* overflow: hidden; */
}
.section1 div{
    display: grid;
    gap: 10px;
    max-width: 400px;
    min-height: 420px;
    background-color: #fff;
    box-shadow: 0 0 4px 2px rgb(222, 216, 216);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
/* .section1 table tr{
    height: 20px;
} */
.section1 table tr a img{
    width: 100%;
    height: 90px;
    align-self: center;
}
.section1 h3{
    font-size: 22px;
}
.section1 a p{
    color: black;
    font-size: 13px;
}
.section1 a:hover p{
    color: black;
    text-decoration: none;
}
.section1 a{
    color: #007185;
}
.section1 a:hover{
    text-decoration: underline;
    color: red;
    
}
.section1 .BoxbottomLink{
    padding-top: 30px;
    font-weight: 700;
    align-self: center;
}
footer .scrollTop{
    width: 100%;
    height: 40px;
    background-color: #323d4ae7;
    text-align: center;
    padding-top: 10px;
}
footer .footer-content{
    width: 100%;
    height: 400px;
    background-color:#232f3e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding-top: 25px;
    border-bottom: 1px solid rgb(83, 81, 81);
}
.footer-content div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    font-size: 14px;
    color: lightgray;
}
.footer-content h3{
    color: #fff;
}
.boxCountrys{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd86;
    color: #ddd;
    /* padding: 0 2px; */
    gap: 10px;
    width: 120px;
    height: fit-content;
    font-size: 14px;
    border-radius: 8px;
}
.footer-countrys{
    width: 100%;
    height: 200px;
    background-color: #232f3e;
    

}
.footer-countrys .logoWithBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding-top: 30px;
    margin-bottom: 40px;
    color: #ddd;
}
.footer-countrys a{
    color: #ddd;
    margin-right: 10px;
    font-size: 12px;
}
.logoWithBox .boxCountrys:hover .countryCategory{
    visibility: visible;
}
.boxCountrys:hover .tooltip::after{
    visibility: visible;
}
.bottomFooter{
    width: 100%;
    height: 200px;
    background-color: black;
    
}
.lastBottomFooter{
    width: 100%;
    height: 100px;
    background-color: black;
}
.bottomFooter .innerBoxBottom{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 12px;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    gap: 50px;
    padding-top: 30px;
   margin-right: 30px;
   
    /* padding: 0 200px; */
    
    /* padding-right: -50px; */
}
.innerBoxBottom div a{
    color: #dddddd7f;
}
.innerBoxBottom div span{
    color: #fff;
}
.innerBoxBottom div a:hover,span:hover{
    text-decoration: underline;
}
.lastBottomFooter{
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size: 12px;
}
.lastBottomFooter a{
    margin-left: 15px;
}
.lastBottomFooter a:hover{
    text-decoration: underline;

}
